# Web Framework
fastapi
uvicorn[standard]
python-multipart
pydantic

# Environment variables
python-dotenv

# AI & Graph Logic
langgraph
langgraph-checkpoint-sqlite
langchain-core
langchain-openai
langchain-community

# Document Parsing
pymupdf
rapidocr-onnxruntime
faiss-cpu